/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    color: #343a40;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Align to the right */
    margin-right: 10rem;
}

nav li {
    margin: 0 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
    background-color: #34495e;
    transform: translateY(-2px);
}

/* Main */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Hero Section */
#profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-image: url('012.png');
    background-blend-mode: luminosity;
    background-color: rgba(255,255,255,.5);
}

#profile h1{
    color: white;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

#profile p{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

#profile .btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

#socials_container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

/* Sections */
section {
    padding: 3rem 10rem;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

section:last-child {
    border-bottom: none;
}

section h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: #2c3e50;
    font-weight: 700;
}

/* About Section */
#about p {
    max-width: 800px;
    line-height: 1.8;
    margin-bottom: 1rem;
}

/* Skills Section */

.skills_details_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills_details_container article{
    flex: 1;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 1rem;
}

.skills_details_container article h3{
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 1rem;
    font-weight: 700;
}

.article_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}

.article_container div {
    flex: 1;
    border: 1px solid #e0e0e0;
    padding: 0.5rem;
    border-radius: 5px;
}

/* Project Section */
.project {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.project h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #2c3e50;
    text-align: left;
    font-weight: 700;
}

.project p {
    margin-bottom: 1rem;
    line-height: 1.5;
    color: #555;
    text-align: left;
}

.project-tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    text-align: left;
}

.project-tech-stack span {
    background-color: #f0f0f0;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #555;
}

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-tech {
    flex: 1;
    text-align: left;
}

.project-links {
    margin-top: 1rem;
    text-align: right;
}

.project-links a {
    margin-left: 0.5rem;
    display: inline-block;
    background: #2c3e50;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.project-links a:hover {
    background-color: #34495e;
}

/* Contact */
#contact {
    text-align: center;
    padding: 3rem 0;
}

#contact p {
  margin-bottom: 1rem;
}

.contact_info_uc {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 1rem auto;
    padding: 0.5rem;
    align-items: center;
    flex-direction: column;
}

.contact_info_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem;
}

.contact_icon{
    cursor: pointer;
    height: 2rem;
    width: auto;
    display: block;
}

.email_icon {
    height: 2rem;
    width: auto;
}

.github-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}

/* Button Styling */
.btn {
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    font-size: 1rem;
    font-weight: 500;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn-resume {
  background-color: #3498db;
}

.btn-github {
  background-color: #2c3e50;
  display: flex;
  align-items: center;
} 
